/**
 *   Stylesheet for drag and drop elements
 */
/* Drag icon provided by http://gentleface.com/ */
body {
  margin: 5.0em auto;
  text-align: left;
  width: 90%;
  background-color: #f9f9f9;
}

.rounded {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

#timer {
  position: absolute;
  top: 2.0em;
  left: 10.0em;
}

#score-board {
  position: absolute;
  top: 2.0em;
  right: 10.0em;
}

#token-bank {
  margin-bottom: 2.0em;
  height: 4.0em;
}
#token-bank .token {
  margin-right: 2.0em;
  margin-bottom: 2.0em;
}

#diagram-stage {
  position: relative;
  border-bottom: solid 2px #0f0f0f;
  width: 100%;
  min-height: 3.0em;
  margin-top: 8.0em;
}
#diagram-stage #subject-group {
  width: 50%;
}
#diagram-stage #subject-mod-group {
  width: 50%;
  height: 1.0em;
  border: solid 1px #060606;
  position: absolute;
  margin-top: 0.5em;
}

.token {
  border: solid 1px #f9f9f9;
  padding: 0.9em 1.0em 0.5em 1.0em;
  height: 2.0em;
  width: 5.0em;
}

.noun-group {
  height: 100%;
  position: relative;
}
.noun-group .noun {
  border: solid 1px #f9f9f9;
  position: absolute;
}
.noun-group .adjective-group {
  position: absolute;
  top: 4.0em;
  width: 100%;
}
.noun-group .adjective {
  width: 25%;
  height: 1.1em;
  position: absolute;
  padding-left: 5.0em;
}
.noun-group .adjective.dropped {
  border-bottom: solid 2px #090909;
}
.noun-group .adjective .adverb-group .adverb.dropped {
  border-bottom: solid 2px #090909;
  border-left: solid 2px #090909;
  height: 1.0em;
  width: 90%;
  padding-top: 1.5em;
  padding-bottom: 0.1em;
  padding-left: 0.5em;
}

.verb-group {
  width: 50%;
  min-height: 4.0em;
  position: absolute;
  left: 52%;
}
.verb-group .adverb-group {
  position: absolute;
  top: 4.0em;
  width: 100%;
}
.verb-group .adverb-group .adverb.dropped {
  border-bottom: solid 2px #090909;
}
.verb-group .adverb-group .adverb .adverb {
  border-bottom: solid 2px #090909;
  border-left: solid 2px #090909;
  height: 1.0em;
  width: 90%;
  padding-top: 1.5em;
  padding-bottom: 0.1em;
  padding-left: 0.5em;
}

#subject-verb-sep {
  font-size: 5.0em;
  position: absolute;
  left: 50%;
  float: left;
}

.droppable-token {
  min-width: 5.0em;
  height: 2.0em;
  display: inline-block;
  padding: 0.75em 0.75em 0.1em 0.75em;
  float: left;
}
.droppable-token.hover {
  border: solid 2px #00f300;
}
.droppable-token.correct {
  background-color: #66FF66;
}
.droppable-token.incorrect {
  background-color: #CC0000;
}

.draggable-token {
  border: solid 2px #AAAAAA;
  height: 2.0em;
  display: inline-block;
  padding: 0.75em 0.75em 0.1em 0.75em;
  min-width: 5.0em;
  cursor: pointer;
  background-image: url("../../img/icons/drag_arrow.png");
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position: right center;
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 0.75em;
  }
}
