/**
 *   Stylesheet for drag and drop elements
 */

$adj-rot: 30deg;

body {
  margin: 0 auto; 
  text-align: left;
  width: 90%;
}

.igble-proj-token {
  border: solid 1px #f9f9f9;
  padding: 0.9em 1.0em 0.5em 1.0em;
  height: 2.0em;
  width: 5.0em;
}

.iglbe-proj-noun-group {
  width: 50%;
  height: 5.0em;;
  position: relative;
  border: solid 1px #c9c9c9;
  
  .igble-proj-noun {
    border: solid 1px #f9f9f9;
  }
  
  .igble-proj-noun-adjective {
    width: 50%;
    position: absolute;
    transform: rotate($adj-rot);
    -webkit-transform: rotate($adj-rot);
    -moz-transform: rotate($adj-rot);
    -ms-transform: rotate($adj-rot);
    border-bottom: solid 2px #090909;
    top: 5.0em;    
  }

  
}

#igble-proj-diagram-stage {
  font-size: 5.0em;
}

