/**
 *   Stylesheet for drag and drop elements
 */

$adj-rot: 0deg;
$default-underline: solid 2px #090909;

body {
  margin: 0 auto; 
  text-align: left;
  width: 90%;
}

#token-bank {
  margin-bottom: 2.0em;
}

#diagram-stage {
  position: relative;
  border-bottom: solid 2px #0f0f0f;
  width: 100%;
  min-height: 3.0em;
  
  #subject-group {
    width: 50%;
  }
  
  #subject-mod-group {
    width: 50%;
    height: 1.0em;
    border: solid 1px #060606;
    position: absolute;
    margin-top: 0.5em;
  }
  
}

.token {
  border: solid 1px #f9f9f9;
  padding: 0.9em 1.0em 0.5em 1.0em;
  height: 2.0em;
  width: 5.0em;
}

.noun-group {
  height: 100%;
  position: relative;
  
  .noun {
    border: solid 1px #f9f9f9;
    position: absolute;
  }
  
  .adjective-group {
    position: absolute;
    top: 4.0em;
    width: 100%;
  }
  
  .adjective {
    width: 25%;
    height: 1.1em;
    position: absolute;
    padding-left: 5.0em;
    // left: 20px;
    // top: 0.5em;    
    
    .adverb-group {
      .adverb {      
        &.dropped {
          border-bottom: $default-underline;
          border-left: $default-underline;
          height: 1.8em;
          width: 90%;
          padding-top: 1.5em;
          padding-bottom: 0.1em;
          padding-left: 0.5em;
        }  
      } 
    }               
  }
}

.verb-group {
  width: 50%;
  min-height: 4.0em;  
  position: absolute;
  left: 52%;
}



#subject-verb-sep {
  font-size: 5.0em;
  position: absolute; 
  top: 0.2em;
  left: 50%;
  float: left;
}

.droppable-token {
  // border: solid 2px #AAAAAA;
  min-width: 5.0em;
  height: 2.0em;
  display: inline-block;
  padding: 0.75em 0.75em 0.1em 0.75em;
  float: left;
  
  &.hover {
    border: solid 2px #ff0000;
  }
  
  &.dropped {
    // border: solid 2px #3333f3;
    
    &.adjective {
      border-bottom: $default-underline;
    }
  }  
}

.draggable-token {
  border: solid 2px #AAAAAA;
  height: 2.0em;
  display: inline-block;
  padding: 0.75em 0.75em 0.1em 0.75em;
  min-width: 5.0em;
}
