/**
 *   Stylesheet for drag and drop elements
 */

/* Drag icon provided by http://gentleface.com/ */

// $adj-rot: 0deg;
$default-underline: solid 2px #090909;
// $token-border-radius: 8px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  margin: 5.0em auto; 
  text-align: left;
  width: 90%;
  background-color: #f9f9f9;
}

.rounded {
  @include border-radius(10px);
}

#timer-container {
  position: absolute; 
  top: 2.0em;
  left: 10.0em;
}

#difficulty-container {
  position: absolute;
  width: 20%; 
  top: 2.0em;  
  left: 40%;
  text-align: center;
  border: solid 1px #FF8C00;
  
  .difficulty {
    &.selected {
      font-weight: bold;
      font-size: 1.5em;
    }    
  }
}

#score-board {
  position: absolute; 
  top: 2.0em;
  right: 10.0em;
}

#instructions-container {
  width: 50%;
  height: 3.0em;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4.0em;
  padding-top: 1.0em;
  border: solid 1px #3333f3;
  
  span#instructions {
    font-weight: bold;
  }  
}

#token-bank {
  margin-bottom: 2.0em;
  height: 4.0em;
  
  .token {
    margin-right: 2.0em;
    margin-bottom: 2.0em;
  } 
  
  .used {
    border: none;
    background-image: none;
  }
  
  .selected:not(.used) {
    border: solid 2px #0606f3;
  }
}

#diagram-stage {
  position: relative;
  border-bottom: solid 2px #0f0f0f;
  width: 100%;
  min-height: 3.0em;
  margin-top: 8.0em;
  
  #subject-group {
    width: 50%;
  }
  
  #subject-mod-group {
    width: 50%;
    height: 1.0em;
    border: solid 1px #060606;
    position: absolute;
    margin-top: 0.5em;
  }
  
}

.token {
  border: solid 1px #f9f9f9;
  // @include border-radius(10px);
  padding: 0.9em 1.0em 0.5em 1.0em;
  height: 2.0em;
  width: 5.0em;
}

.noun-group {
  height: 100%;
  position: relative;
  
  .noun {
    border: solid 1px #f9f9f9;
    position: absolute;
  }
  
  .adjective-group {
    position: absolute;
    top: 4.0em;
    width: 100%;
  }
  
  .adjective {
    width: 25%;
    height: 1.1em;
    position: absolute;
    padding-left: 5.0em;
    // left: 20px;
    // top: 0.5em;    
    
    &.dropped {
      border-bottom: $default-underline;
    }
    
    .verb-mod-group {           
      .adverb {      
        &.dropped {
          border-bottom: $default-underline;
          border-left: $default-underline;
          height: 1.0em;
          width: 90%;
          padding-top: 1.5em;
          padding-bottom: 0.1em;
          padding-left: 0.5em;
        }  
      } 
    }               
  }
}

.verb-group {
  width: 50%;
  min-height: 4.0em;  
  position: absolute;
  left: 52%;
  
  .verb-mod-group {      
    position: absolute;
    top: 4.0em;
    width: 100%;
    
    .adverb {
      &.dropped {
        border-bottom: $default-underline;
      }
      .adverb {
        border-bottom: $default-underline;
        border-left: $default-underline;
        height: 1.0em;
        width: 90%;
        padding-top: 1.5em;
        padding-bottom: 0.1em;
        padding-left: 0.5em;
      }
    }
  }
  
}



#subject-verb-sep {
  font-size: 5.0em;
  position: absolute; 
  // top: 0.2em;
  left: 50%;
  float: left;
}

.droppable-token {
  // border: solid 2px #AAAAAA;
  min-width: 5.0em;
  height: 2.0em;
  display: inline-block;
  padding: 0.75em 0.75em 0.1em 0.75em;
  float: left;
  
  &.hover {
    border: solid 2px #666666;
  }
  
  &.dropped {    
    // &.adjective, &.adverb {
      // border-bottom: $default-underline;
    // }
  }
  
  &.correct {
    background-color: #66FF66;
  } 
  
  &.incorrect {
    background-color: #CC0000;
  } 
}

.draggable-token {
  border: solid 2px #AAAAAA;
  height: 2.0em;
  display: inline-block;
  padding: 0.75em 0.75em 0.1em 0.75em;
  min-width: 5.0em;
  cursor: pointer;
  background-image: url('../../img/icons/drag_arrow.png');
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position: right center;    
}

.ui-selected {
  border: solid 3px #090909;
  
  &.correct {
    border-color: #00f000;
  }
}

@media only screen and (max-width: 800px) {

   body { font-size: 0.75em; }

}
